<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Api de Registro</title>
</head>
<body>
    <div class="box">
        <form id="formCadastro">
            <h1>Registrar</h1>
            <input type="text" class="nome" name="nome" placeholder="Nome" required>
            <input type="text" class="email" name="email" placeholder="Email" required>
            <input type="password" class="senha" name="senha" placeholder="Senha" required>
            <input type="text" class="telefone" class="telefone" name="tel" placeholder="Telefone" required>
            <button id="btnCadastro">Cadastrar</button>
        </form>
    </div>
</body>
</html>